*{
margin:0;
}

body{
text-align:center;
}

h1{
font-size:4rem;
color:#922FA8;
}

body,h2{
font-size:10rem;
}

button{
width:15rem;
height:4rem;
background-color:#28C9EB;
border-radius:0.3rem;
font-size:1.5rem;
}

button:hover{
background-color:#69F5C5;
}