*{
margin:0;
}

body{
text-align:center;
}

h1{
font-size:4rem;
color:#922FA8;
}

h2{
font-size:10rem;
}

button{
width:10rem;
height:2rem;
background-color:#F5C652;
border-radius:0.3rem;
}

button:hover{
background-color:#69F5C5;
}